version: "3.9"

services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    command: npm run dev
    ports:
      - "3001"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - NODE_ENV=production
    networks:
      - dokploy-network
  nginx-node:
    restart: always
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - "80"
    networks:
      - dokploy-network
    depends_on:
      - app