version: "3.9"

services:
  app:
    container_name: app
    restart: always
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    networks:
      - dokploy-network
    environment:
      - NODE_ENV=production
  nginx-node:
    container_name: nginx-node
    restart: always
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - "80:80"
    depends_on:
      - app
    labels:
      - traefik.enable=true
      - traefik.http.routers.jmapp.rule=Host(jm-app.softapp.ch)
      - traefik.http.services.jmapp.loadbalancer.server.port=81
    networks:
      - dokploy-network
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
networks:
  dokploy-network:
    external: true