version: "3.9"

services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    command: npm run dev
    ports:
      - "3000"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - NODE_ENV=production
  nginx-node:
    restart: always
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - "80"
    depends_on:
      - app
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf