version: "3.9"

services:
  app:
    container_name: app
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000"
    networks:
      - dokploy-network
    environment:
      - NODE_ENV=production

  nginx-node:
    container_name: nginx-node
    restart: always
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - "80"
    depends_on:
      - app
    networks:
      - dokploy-network
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf

networks:
  dokploy-network:
    external: true
