version: "3.9"

services:
  app:
    build: .
    command: npm run dev
    ports:
      - "3001"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - NODE_ENV=development
