<div>
<footer>
    <div class="footerContainer">
        <div class="socialIcons">
            
            <a href="https://www.instagram.com/upcruv/?hl=es"  target="_blank" ><i class="fa-brands fa-instagram"></i></a>
            <a href="https://x.com/UNIVERSIDAD_PMA?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href="https://www.youtube.com/@universidaddepanama"><i class="fa-brands fa-youtube"></i></a>
        </div>    
            <div class="footerBottom">
        <p>Copyright &copy;2025; Designed by <span class="designer">LIC. JOSE M. LORENZO</span></p>
    </div>    
    </div>


</footer>
</div>