body{
    text-align: center;                     position: relative;
 background: #80cf74;
background: linear-gradient(90deg, rgba(128, 207, 116, 1) 0%, rgba(123, 196, 112, 1) 54%);
/*background: linear-gradient(90deg, #112e0f,#112e0f,#165414,#379f3c);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
            /*background: #4B79A1;  
    background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  
    background: linear-gradient(to right, #283E51, #4B79A1);  */
    
        }
             #contener {
            bottom: 25%;
            right: 20%;
    
        }
                *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#titleP{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
